/* ============================================================================== */
/* HERO */
/* ============================================================================== */

.hero {
    position: sticky;
    top: 0;
    transition: transform .1s linear, opacity .1s linear;

    container-type: inline-size;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-inner {
    padding: 3cqw 12cqw 8cqw 12cqw;
}

.hero-inner.trigger {
    opacity: .2;
}

.hero-inner * {
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
}

.hero-inner>div {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 60% 60%;
    align-items: center;
}

.hero-inner>div div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    margin-top: 4cqw;
    gap: 1cqw;
}

.hero-inner>div div:nth-of-type(2) img {
    margin-top: 2cqw;
    width: 31%;
    height: 31%;
}

.hero-inner>div>div {
    display: flex;
    flex-direction: column;
}

.hero-inner>div>div h1 {
    white-space: nowrap;
    font-size: 4.5cqw;
    line-height: 4.5cqw;
    font-weight: var(--heavy);
}

.hero-inner>div>div h1 span:nth-of-type(1) {
    color: var(--beige-4);
}

.hero-inner>div>div h1 span:nth-of-type(1) span {
    color: var(--orange);
}

.hero-inner>div>div>p {
    white-space: nowrap;
    font-size: 2.5cqw;
    font-weight: var(--heavy);
}

.hero-inner>div>div>p span {
    font-family: yink, sans-serif;
    font-weight: 400;
    font-size: 2.5cqw;
}

/* =================== */
/* ICONS */
/* =================== */

.hero-inner>div>div div {
    width: max-content;
    display: flex;
    gap: .7cqw;
    margin-top: .5cqw;
}

.hero-inner>div>div div a {
    display: flex;
    align-items: center;
    gap: .5cqw;
    width: 2.4cqw;
    height: 2.4cqw;
    background-color: var(--beige-4);
    padding: .5cqw;
    border-radius: .6cqw;
    overflow: hidden;
    transition: width 0.35s ease, background-color 0.35s ease;
}

.hero-inner>div>div div a:hover,
.hero-inner>div>div div a:focus-visible {
    width: max-content;
    background-color: var(--orange);
}

.hero-inner>div>div div a img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.hero-inner>div>div div a p {
    font-weight: var(--demi-bold);
    color: #fff;
    font-size: 1cqw;
    white-space: nowrap;
}



/* ============================================================================== */
/* MY WORK */
/* ============================================================================== */

.my-work {
    position: relative;
    background-color: var(--beige-2);
    padding: var(--padding) 3vw;
    border-radius: 110px 110px 0 0;
    transition: border-radius .5s ease;
}

.my-work.trigger {
    border-radius: 0;
}

.my-work::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--beige-1);
    z-index: -1;
}

.projects-container-wrapper {
    container-type: inline-size;
    max-width: 1100px;
    margin: 0 auto;
}

/* outline */
.projects-container {
    position: relative;
    padding: 1.33cqw;
    outline: solid 1.5px var(--beige-3);
    border-radius: 2.75cqw;
    container-type: inline-size;
}

/* decorative lines */
.projects-container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + (var(--padding) * 2));
    margin-top: calc(var(--padding) * -1);
    background-color: var(--beige-4);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.projects-container svg {
    position: absolute;
    stroke: var(--beige-4);
    stroke-width: 2cqw;
    stroke-dasharray: 8 14;
    height: calc(100% + (var(--padding) * 2));
    margin-top: calc(var(--padding) * -1);
    width: .15cqw;
    top: 0;
}

.projects-container svg:nth-of-type(1) {
    left: 6.33cqw;
}

.projects-container svg:nth-of-type(2) {
    right: 6.33cqw;
}

/* main area */
.projects-container section {
    background-color: var(--beige-1);
    padding: 6cqw 9cqw;
    border-radius: 2cqw;
}

.projects-container section .text-container h2 {
    position: relative;
    font-size: 3.25cqw;
    font-weight: var(--extra-bold);
    line-height: var(--heading-line-height);
    margin-bottom: 2.5cqw;
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
}

.projects-container section .text-container h2::after {
    position: absolute;
    content: 'featured';
    left: 0;
    top: -.5cqw;
    translate: 0 -100%;
    text-transform: uppercase;
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: .4em;
    line-height: .8em;
    color: var(--orange);
}

.projects-container section .text-container h2::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1cqw;
    background-color: var(--orange);
    left: -4.525cqw;
    top: 0;
}

/* labels */
.projects-container section>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cqw 6cqw;
    margin-bottom: 1em;
}

.projects-container section>div:nth-of-type(2)>div {
    display: flex;
    align-items: center;
    width: max-content;
    background-color: var(--orange);
    gap: 1cqw;
    padding: .75cqw;
    border-radius: .75cqw;
}

.projects-container section>div:nth-of-type(2)>div p {
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: var(--label-font-size);
    color: white;
    font-size: 1.33cqw;
}

.projects-container section>div:nth-of-type(2)>div:nth-of-type(1) img {
    height: 1cqw;
    width: max-content;
}

.projects-container section>div:nth-of-type(2)>div:nth-of-type(2) img {
    height: 1.3cqw;
    width: max-content;
}

/* projects */
.projects-container section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3cqw 6cqw;
}


/* ============================================================================== */
/* ABOUT ME */
/* ============================================================================== */

.about-me {
    position: relative;
    background-color: var(--beige-3);
    padding: 0 4em var(--padding) 4em;
    transition: all .5s ease;
    /* overflow: hidden; */
}

.about-me-container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
}

.about-me-container section {
    padding: 4em 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me-container section .pre-container {
    order: -1;
    justify-self: center;
}

/* decorative lines */
.about-me-container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + var(--padding) - 12px);
    background-color: var(--beige-4);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-me-container svg {
    position: absolute;
    stroke: var(--beige-4);
    stroke-width: 5px;
    stroke-dasharray: 8 14;
    height: calc(100% + var(--padding) - 12px);
    margin-top: 12px;
    width: 1.5px;
    top: 0;
}

.about-me-container svg:nth-of-type(1) {
    left: 100px;
}

.about-me-container svg:nth-of-type(2) {
    right: 100px;
}


.about-me-container section .text-container {
    align-self: center;
}

.about-me-container section .text-container h2 {
    position: relative;
    font-size: var(--heading-font-size);
    font-weight: var(--extra-bold);
    line-height: var(--heading-line-height);
    margin-bottom: .5em;
    margin-left: calc(40px - 5px);
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
    grid-column: 2;
}

.about-me-container section .text-container p {
    font-size: var(--p-font-size);
    font-weight: var(--medium);
    line-height: var(--p-line-height);
    margin-left: calc(40px - 5px);
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
    grid-column: 2;
}

.about-me-container section .text-container h2::after {
    position: absolute;
    content: 'info';
    left: 0;
    top: -.5em;
    translate: 0 -100%;
    text-transform: uppercase;
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: .4em;
    line-height: .8em;
    color: var(--orange);
}

.about-me-container section .text-container h2::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 10px;
    background-color: var(--orange);
    left: -40px;
    top: 0;
}